In [1]:
!pip install pandas matplotlib seaborn sqlite3

Requirement already satisfied: pandas in c:\users\siddh\anaconda3\lib\site-packages (2.1.4)
Requirement already satisfied: matplotlib in c:\users\siddh\anaconda3\lib\site-packages (3.8.0)
Requirement already satisfied: seaborn in c:\users\siddh\anaconda3\lib\site-packages (0.12.2)

ERROR: Could not find a version that satisfies the requirement sqlite3 (from versions: none)
ERROR: No matching distribution found for sqlite3

In [2]:
import pandas as pd
import sqlite3

In [9]:
# Load the CSV
df = pd.read_csv('SuperStore_Sales_DataSet.csv', encoding='unicode_escape')

In [10]:
df.shape

(5901, 23)

In [11]:
conn = sqlite3.connect("retail.db")

In [12]:
df.to_sql("Orders", conn, if_exists="replace", index=False)

5901

In [15]:
query = "SELECT Region, SUM(Sales) AS Total_Sales FROM sales GROUP BY Region"
result = pd.read_sql(query, conn)
result

DatabaseError: Execution failed on sql 'SELECT Region, SUM(Sales) AS Total_Sales FROM sales GROUP BY Region': no such table: sales

In [14]:
result = pd.read_sql_query(query, conn)
print(result)

    Region   TotalSales
0     West  522441.0520
1     East  450234.6660
2  Central  341007.5242
3    South  252121.0810